* {
    padding: 0;  
    margin: 0;
}

body {
    background: #090909 url(./img/background/bg.jpg) top center / 
    100% auto no-repeat; 
    color: #fff;
    font-family: 'Roboto', sans-serif; 
}

.header {
    height: 100px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 42px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
}

.header__menu {
    display: flex;
}

.header__menu-item {
    margin: 0px 20px;
    border-bottom: 2px solid #090909;
    padding: 0px 0px 3px 0px;
}

.header__menu-item:hover {
    padding: 0px 0px 3px 0px;
    border-bottom: 2px solid #EB0000;
}

.header__commands {
    display: flex;
}

.header__commands-icon:not(:last-child) {
    margin: 0px 40px 0px 0px;
}

/* main----------------------------------- */

.slider {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: end;
    height: 30vw;
    padding: 20px 60px;
}

.slider__main {
    display: flex;
    justify-content: end;
    padding: 0px 150px 0px 0px;
}

.product-info {
    display: flex;
    align-items: flex-end;
}

.product-info__price {
    color: #E70000;
    font-size: 36px;
    line-height: 43px;
    font-weight: 800;
    margin: 0px 10px 0px 0px;
    
}

.product-info__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-info__badge {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 9.75px;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 14px;
    background-color: #EB0000;
}

.product-info__text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2em;
}

.product-info__text span {
    font-weight: 800;
    letter-spacing: 0.075em;

}

.slider__commands {
    display: flex;
    align-items: center;
}

.slider__nav-item {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slider__nav-item:not(:last-child) {
    margin-bottom: 12px;
}

.slider__nav-item:nth-child(1) {
    opacity: 0.2;
}

.slider__nav-item:nth-child(2) {
    opacity: 0.4;
}

.slider__nav-item:nth-child(3) {
    opacity: 0.6;
}

.slider__nav-item:nth-child(4) {
    opacity: 0.8;
}


/* footer---------------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 60px;
}

.select-color {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    line-height: 15px; 
}

.select-color__products {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin: 20px 0px;
}

.select-color__item {
    width: 100px;
    height: 70px; 
    background-position: center;
    cursor: pointer;
}

.select-color__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
}

.select-color__item:nth-child(1) {
    background-image: url(./img/color-item/pink.png);
}

.select-color__item:nth-child(2) {
    background-image: url(./img/color-item/green.png);
}

.select-color__item:nth-child(3) {
    background-image: url(./img/color-item/red.png);
}

.buttons {
    display: flex;
    padding: 0px 10px;
}

.button {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #fff;
    color: #000;
    padding: 18px 30px;
    cursor: pointer;
    min-width: 110px;
    text-align: center;
}

.button:not(:last-child) {
    margin: 0px 35px 0px 0px;
}

.button_outline {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.discription {
    max-width: 335px;
}

.discription__title {
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    margin: 0px 0px 5px 0px;
}

.discription__test {
    font-size: 13px;
    line-height: 20px;
    opacity: 0.8;
}

